<!--   Core JS Files   -->
<script src="{{ path-assets }}/assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="{{ path-assets }}/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="{{ path-assets }}/assets/js/core/bootstrap.min.js" type="text/javascript"></script>


<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{{ path-assets }}/assets/js/plugins/bootstrap-switch.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!--  Chartist Plugin  -->
<script src="{{ path-assets }}/assets/js/plugins/chartist.min.js"></script>

<!--  Share Plugin -->
<script src="{{ path-assets }}/assets/js/plugins/jquery.sharrre.js"></script>

<!--  Notifications Plugin    -->
<script src="{{ path-assets }}/assets/js/plugins/bootstrap-notify.js"></script>

<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{{ path-assets }}/assets/js/light-bootstrap-dashboard.js?v=2.0.0" type="text/javascript"></script>

<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="{{ path-assets }}/assets/js/demo.js"></script>




{% if page.brand == "Maps" %}
    <script type="text/javascript">
        $(document).ready(function(){
            // Javascript method's body can be found in assets/js/demos.js
            demo.initGoogleMaps();

        });
    </script>

{% elsif page.brand == "Dashboard" %}
    <script type="text/javascript">
        $(document).ready(function(){
            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();

            demo.showNotification();

        });
    </script>

{% elsif page.brand == "documentation" %}
<script>
    var header_height;
    var fixed_section;
    var floating = false;

    $(document).ready(function(){
        suggestions_distance = $("#suggestions").offset();
        pay_height = $('.fixed-section').outerHeight();

        $(window).on('scroll', nowuiDashboard.checkScrollForTransparentNavbar);

        if ($(window).width() >= 768){
            big_image = $('.header[data-parallax="true"]');
            if(big_image.length != 0){
               $(window).on('scroll', nowuiDashboardDemo.checkScrollForParallax);
            }
        }
    });
</script>

{% endif %}
