<!-- Navbar -->
<nav class="navbar navbar-expand-lg" color-on-scroll="500">
	<div class="container-fluid">

		{% if page.brand != "documentation" %}

		<a class="navbar-brand" href="#pablo"> {{ page.brand }} </a>

		{% else %}

		<a class="navbar-brand" href="http://demos.creative-tim.com/now-ui-dashboard/index.html" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
			Light Bootstrap Dashboard - Docs
		</a>

		{% endif %}

		<button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"  aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-bar burger-lines"></span>
			<span class="navbar-toggler-bar burger-lines"></span>
			<span class="navbar-toggler-bar burger-lines"></span>
		</button>

	    <div class="collapse navbar-collapse justify-content-end" id="navigation">
			{% if page.brand != "documentation" %}
			<ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="dropdown">
                        <i class="fa fa-dashboard d-none d-md-none d-lg-block"></i>
						<i class="nc-icon nc-palette d-md-block d-lg-none"></i>

						<span class="d-lg-none">Dashboard</span>
                    </a>
                </li>
                <li class="dropdown nav-item">
                      <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="fa fa-globe d-none d-md-none d-lg-block"></i>
							<i class="nc-icon nc-planet d-md-block d-lg-none"></i>
                            <span class="notification">5</span>
							<span class="d-lg-none">Notification</span>
                      </a>
                      <ul class="dropdown-menu">
                        <a class="dropdown-item" href="#">Notification 1</a>
                        <a class="dropdown-item" href="#">Notification 2</a>
                        <a class="dropdown-item" href="#">Notification 3</a>
                        <a class="dropdown-item" href="#">Notification 4</a>
                        <a class="dropdown-item" href="#">Another notification</a>
                      </ul>
                </li>
                <li class="nav-item">
                   <a href="#" class="nav-link">
                        <i class="fa fa-search d-none d-md-none d-lg-block"></i>
						<i class="nc-icon nc-zoom-split d-md-block d-lg-none"></i>
						<span class="d-lg-none">Search</span>
                    </a>
                </li>
            </ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#pablo">
						<span class="no-icon">Account</span>
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="no-icon">Dropdown</span>

					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something</a>
						<a class="dropdown-item" href="#">Something else here</a>
						<div class="divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#pablo">
					   <span class="no-icon">Log out</span>
					</a>
				</li>
			</ul>

			{% else %}

			<ul class="navbar-nav">
			   	<li class="nav-item">
				   	<a class="nav-link" href="../examples/dashboard.html">Back to Dashboard</a>
			   	</li>
			   	<li class="nav-item">
				   	<a class="nav-link" href="https://github.com/creativetimofficial/now-ui-dashboard/issues">Have an issue?</a>
			   	</li>
			</ul>

			{% endif %}
	    </div>
	</div>
</nav>
<!-- End Navbar -->
