<div class="sidebar" data-image="{{ path-assets }}/assets/img/sidebar-5.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->

    <div class="sidebar-wrapper">
        {% if page.brand != "template-page" %}

        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                Creative Tim
            </a>
        </div>

        <ul class="nav">
            <li {% if page.brand == "Dashboard" %} class="nav-item active" {% endif %}>
                <a class="nav-link" href="dashboard.html">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li {% if page.brand == "User" %} class="nav-item active" {% endif %}>
                <a class="nav-link" href="{{ path-pages }}/user.html">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li {% if page.brand == "Table List" %} class="nav-item active" {% endif %}>
                <a class="nav-link" href="{{ path-pages }}/table.html">
                    <i class="nc-icon nc-notes"></i>
                    <p>Table List</p>
                </a>
            </li>
            <li {% if page.brand == "Typography" %} class="nav-item active" {% endif %}>
                <a class="nav-link" href="{{ path-pages }}/typography.html">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>Typography</p>
                </a>
            </li>
            <li {% if page.brand == "Icons" %} class="nav-item active" {% endif %}>
                <a class="nav-link" href="{{ path-pages }}/icons.html">
                    <i class="nc-icon nc-atom"></i>
                    <p>Icons</p>
                </a>
            </li>
            <li {% if page.brand == "Maps" %} class="nav-item active" {% endif %}>
                <a class="nav-link" href="{{ path-pages }}/maps.html">
                    <i class="nc-icon nc-pin-3"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li {% if page.brand == "Notifications" %} class="nav-item active" {% endif %}>
                <a class="nav-link" href="{{ path-pages }}/notifications.html">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>Notifications</p>
                </a>
            </li>

            <li class="nav-item active active-pro">
                    <a class="nav-link active" href="../examples/upgrade">
                        <i class="nc-icon nc-alien-33"></i>
                        <p>Upgrade to PRO</p>
                    </a>
            </li>
        </ul>
        {% else %}

        <ul class="nav">
            <li {% if page.brand == "Example1" %} class="nav-item active" {% endif %}>
                <a href="#pablo">
                    <i class="now-ui-icons design_app"></i>
                    <p>Example 1</p>
                </a>
            </li>
            <li {% if page.brand == "Example2" %} class="nav-item active" {% endif %}>
                <a href="#pablo">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>Example 2</p>
                </a>
            </li>
        </ul>

        {% endif %}
    </div>
</div>
